@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'chirp';
  src: local('chirp'), url(/fonts/chirp-regular.otf) format('truetype');
}

@font-face {
  font-family: 'chirp-heavy';
  src: local('chirpHeavy'), url(/fonts/chirp-heavy.otf) format('truetype');
}

@font-face {
  font-family: 'chirp-bold';
  src: local('chirpBold'), url(/fonts/chirp-bold.otf) format('truetype');
}

@layer base {
  html {
    font-family: 'chirp', sans-serif, system-ui;
    background-color: #000000;
  }
}