@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lexend';
  src: local('RobotoMonoSemi'), url(/fonts/Lexend-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-Bold';
  src: local('FireRed'), url(/fonts/Lexend-Bold.ttf) format('truetype');
}

@layer base {
  html {
    font-family: 'Lexend', sans-serif, system-ui;
    background-color: #212121;
  }
}